<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="habit-tracker-icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/719efef3b1.js" crossorigin="anonymous"></script>
</head>

<body>

    <%- include('_header'); %>

    <%- body %>

    <%- include('_footer'); %>

    <%- script %>

</body>

</html>